[user]
  email = jamie@lico.nl
  name = Jamie Schembri
[core]
  excludesfile = /Users/jamie/.gitignore_global
  editor = nvim
  pager = diff-so-fancy | less --tabs=1,5 -R
[color]
  ui = true
[diff]
  tool = vimdiff
[difftool]
  tool = vimdiff
  prompt = false
[alias]
  a  = add
  aa = add -A
  ac = !git add -A && git commit
  acm = !git add -A && git commit -m
  b = branch
  bd = branch -d
  bD = branch -D
  bmv = branch -m
  c  = commit
  cm  = commit -m
  ca  = commit --amend
  can  = commit --amend --no-edit
  cl = clone
  co = checkout
  cob = checkout -b
  cp = cherry-pick
  d = diff
  dh = diff HEAD
  d1 = diff HEAD^
  d2 = diff HEAD^^
  do = "!f() { git remote set-head origin -a && git diff origin/HEAD; }; f"
  dt = difftool
  i  = init
  lf = log -u
  lg = log --stat --color
  lt = log --graph --decorate --pretty=oneline --abbrev-commit
  ll = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  ls = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  mt = mergetool
  pf = push --force-with-lease
  s = status -sbu
  r = rebase
  rc = rebase --continue
  ra = rebase --abort
  rs   = reset
  rs1  = reset HEAD^
  rs2  = reset HEAD^^
  rsh  = reset --hard
  rsh1 = reset HEAD^ --hard
  rsh2 = reset HEAD^^ --hard

  # Linting
  lr = "!f() { rubocop-git; }; f"

  # Workflow
  ms = "!f() { git checkout milestones/"$1"; }; f"
  msb = "!f() { git checkout -b milestones/"$1"; }; f"
  msbd = "!f() { git branch -D milestones/"$1"; }; f"

  is = "!f() { git checkout issues/"$1"; }; f"
  isb = "!f() { git checkout -b issues/"$1"; }; f"
  isbd = "!f() { git branch -D issues/"$1"; }; f"

  rms = "!f() { git rebase milestones/"$1"; }; f"
  rmsi = "!f() { git rebase -i milestones/"$1"; }; f"
[push]
  # Push only the current branch
  default = current
[merge]
  tool = fugitive
  conflictstyle = diff3
[mergetool]
  keepBackup = false
  path = nvim
[pull]
  ff = only
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[mergetool "fugitive"]
  cmd = nvim -f -c \"Gvdiff\" \"$MERGED\"
[mergetool "meld"]
  cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
[tig]
  diff-highlight = true
