set hlsearch
set ignorecase
set incsearch
set scrolloff=3
set smartcase

" Disable bell
set visualbell
set noerrorbells

" space leader
let mapleader = " "

map ; :
map 0 ^
map <BS> :noh<CR>
map <leader><Tab> <C-S-6>
map <leader>sr :source ~/.ideavimrc<CR>

" save
map <leader>w :w<cr>

" version control
map <leader>gc :action ChangesView.Commit<CR>
map <leader>gb :action Annotate<CR>

" debugging
map <leader>de <M-F8>
map <leader>dn :action StepOver<CR>
map <leader>di :action StepInto<CR>
map <leader>do :action StepOut<CR>

" plugins
set surround
