#!/bin/bash
# Fish as default shell
FISH_PATH=$(command -v fish)
if [ -n "$FISH_PATH" ]; then
  grep -Fxq "$FISH_PATH" /etc/shells || echo "$FISH_PATH" | sudo tee -a /etc/shells
  [ "$SHELL" != "$FISH_PATH" ] && chsh -s "$FISH_PATH"
fi

# Directories
mkdir -p ~/.ssh && chmod 700 ~/.ssh
mkdir -p ~/repos
