[Unit]
Description=xkeysnail

[Service]
Type=simple
ExecStart=/usr/bin/xkeysnail --watch
Restart=always
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
